# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Rubish

*.xcuserstate
*.pbxproj

Basic Control Layer/Basic Control Layer.xcodeproj/project.xcworkspace/xcuserdata/floris.xcuserdatad/UserInterfaceState.xcuserstate

Basic Control Layer/Basic Control Layer.xcodeproj/project.pbxproj

Basic Control Layer/Basic Control Layer.xcodeproj/project.xcworkspace/xcuserdata/floris.xcuserdatad/UserInterfaceState.xcuserstate
